# HTACCESS - - - 
#Atención, el orden de los elementos puede alterar el sistema:

# El archivo de inicio es este en lugar de index:
DirectoryIndex inicio.php

# Activa reescritura
RewriteEngine On
# RewriteBase /


# Redirecciones
RewriteRule ^inicio$ inicio.php [L]

RewriteRule ^error$ 404.php [L]


# Redirecciones através de Consultas a PHP
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([^/]+)/?$ info.php?slug=$1 [L]

