*{ box-sizing: border-box;}

body{
    font-family: sans-serif;
    max-width:960px;
    margin: 0 auto;
    padding: 20px;
}

.anio{
    display: flex;
    justify-content: center;
    gap:20px;
    flex-wrap: wrap;
}


/* Tabla calendario */
table{
    border-collapse: collapse;

}


tr th,
tr td{
    text-align:center;
    font-size:12px;
}

tr td:nth-child(6),
tr td:nth-child(7){
    color:red;
}

.fiesta{
    background: #FF000022;
    border:1px red solid;
    padding: 2px;
}

.fiestainicio{ border-left-width:3px; border-radius: 4px 0 0 4px}
.fiestafin{ border-right-width:3px; border-radius: 0 4px 4px 0}


.galeria{
    list-style:none;
    padding-left:0;
    display:flex;
    gap:10px;
    flex-wrap:wrap;
}

.evento{
    border:solid 1px grey;
    border-radius:20px;
    padding:10px;
    font-size:10px;
}

header nav ul{
    list-style:none;
    padding-left:0;
    gap:10px;
    display:flex;
}