/* Fuentes */
@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*******************************************************************************/
/*                                                                             */
/* Fonts                                                                       */
/*                                                                             */
/*******************************************************************************/
/* @font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
}

body, h1, h2, h3, h4, h5, h6, p, a{
    font-family: 'Lato', sans-serif;
} */
       
:root{
    /* Colores */
    --c1:#FF0C49;
    --c2:tan;
    --c3:black;

    /* Fuentes */
    --ff:sans-serif;
    --ff:"Anybody", sans-serif;
    --ff: "Poppins", sans-serif;

    /* Espacios */
    --mw:1200px;
    --bdrs:10px;



}
*, *::before, *::after{
    box-sizing:border-box;
}




body{
    font-family: var(--ff);
    max-width:var(--mw);
    margin: 0 auto;
    padding: 20px;

    /*Suavizado de texto*/
    font-smooth: always; /* Para navegadores que admiten esta propiedad */
    -webkit-font-smoothing: antialiased; /* Para navegadores WebKit (Safari, Chrome) */
    -moz-osx-font-smoothing: grayscale; /* Para Firefox en macOS */
    text-rendering: optimizeLegibility; /* Mejora la legibilidad general */
}

h1, h2, h3, h4, h5, h6{}


/* Cursor */
h1, h2, h3, h4, h5, h6, span, p{
	cursor:default;
}



a{
    text-decoration: none;
    color:var(--c1);
}

p a{ text-decoration: underline;}

img{
    max-width: 100%;
}


header, main, footer{}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
}


header a#headerlogo{
	color:black;
}

.subrayado{
	background:var(--c1);
	color:white;
}


main{}

footer{}




.btn,
input[type="submit"],
input[type="button"],
button{
    padding: 4px 8px;
    border-radius: var(--bdrs);
    text-align: center;
    /* min-width: 180px; */
    border:solid 1px var(--c1);
    background:white;
    color:var(--c1);
    transition:1s;
    cursor: pointer;
    display: inline-block;
    margin: 8px 0;
}

.logo{display:block; font-weight:bolder; font-size:1.2rem;}

.btn:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover{
    background:var(--c1);
    color:white;
}








/* LISTADOS */
header nav ul,
footer nav ul,
ul.galeria,
ul.lista,
ul.reticula{
    list-style:none;
    padding-left:0;
    display:flex;
    flex-wrap:wrap;
    gap:10px;
}

ul.galeria li,
ul.lista li,
ul.reticula li{
    display:flex;
    justify-content: space-between;
}

ul.lista{
    display:grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
}

ul.lista li{
    flex-direction:column;
	background-size: contain;

		outline: 2px solid transparent;


    border-radius:10px;
    padding: 6px;
    margin: 20px 0 40px 0;
    /* overflow: hidden; */
    position:relative;
    background: url(assets/img/001.jpg) top center no-repeat;

	box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px, rgba(0, 0, 0, 0) 0px px px;
    transition:0.3s;
}

ul.lista li:hover{
	outline: 2px solid var(--c1);

}

ul.lista li:hover{
    box-shadow: rgba(0, 0, 0, 0.19) 0px 9px 10px 4px,
        rgba(0, 0, 0, 0.23) 1px 5px 8px 2px;
}

ul.lista li:hover .btn{
    background:var(--c1);
    color:white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 9px 10px 4px,
        rgba(0, 0, 0, 0.23) 1px 5px 8px 2px;
}

ul.lista li div{
    background: linear-gradient(#FFFFFF33, #FFFFFFFF);
    padding:18px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(8px);
    background-blend-mode: overlay;
    min-height: 170px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
ul.lista li div .btn{
    width: 90%;
    margin: 0 12px;
    position: absolute;
    bottom: -16px;
    left: 0;   
}

ul.lista li h2{
    margin:5px 0;
    color:var(--c1);
    font-size: clamp(.5em, 1.2rem, 2rem);

}

ul.lista li img{
    max-width: calc(100% + 18px);
    height:120px;
    object-fit:cover;
    margin: -6px;
    border-radius: 10px 10px 0 0;
	mask-image: linear-gradient(black 90%, transparent);
}


li .editar::before{
    position:absolute;
    top:-8px;
    right:-10px;
    
    background:white;
    border: 1px solid var(--c1);
    box-shadow:2px 2px 8px 3px #00000044;
    display:flex;
    justify-content: center;
    align-items: center;
    width:30px;
    height:30px;
    border-radius:50%;


    font-family: FontAwesome; /* Ensure FontAwesome is loaded */
    content: "\f303"; /* Unicode for pencil icon (adjust for lÃƒÂ¡pis if needed) */
    color:var(--c1);
    z-index: 2;
    transition: .3s;
}


li .editar:hover::before{
    background-color: var(--c1);
    color:white;
    scale:1.2;
   
}



ul.galeria{}

ul.reticula{
}

li span{
    display:block;
    line-height: 1rem;
    margin-bottom: 8px;
    font-size: 12px;
}

.direccion{
	color:var(--c1);
	font-size:12px;
}

.telefono:before{
	content:"Tel: ";
	color:var(--c1);
	font-size:12px;
	padding-right:4px;
	font-family:"fontawesome";
	content: "\f095";
	
}

.telefono{
	background:#FFFFFF88;
	border-radius:20px;
	padding:0 10px;
}

.telefono:hover{
	background:var(--c1);
}


.telefono:hover,
.telefono:hover:before{
	background:var(--c1);
	color:white;
}



/* Transitions */

.telefono,
.telefono:before{
	transition:0.3s;
}



/* DEBUG */




.debug{
    padding: 10px 28px;
    border-radius:var(--bdrs);
    border: solid 1px #BBB;
    outline: var(--c1) dashed 1px;
    outline-offset: 2px;
    margin: 14px 0 6px 0;
    position:relative;
    box-shadow: inset rgba(0, 0, 0, 0.15) -2px 3px 2px, inset rgba(0, 0, 0, 0.05) -9px -2px 10px;

    /* Fondo */
    background-color: #e5e5f7;
    background-image:  linear-gradient(#DDD 2px, transparent 2px), linear-gradient(90deg, #DDD 2px, transparent 2px), linear-gradient(#DDD 1px, transparent 1px), linear-gradient(90deg, #DDD 1px, #e5e5f7 1px);
    background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.debug span{
     color:var(--c1);
    font-weight:bold;
    font-size:14px;
    font-family:monospace;
letter-spacing:1px;
display:block;}

.debug pre{ margin:0;}

.debug{border-left: solid 25px var(--c1);}

.debug::before{
    content: "\f071";
    font-family: "Font Awesome 5 Free"; /* Nombre de la fuente de Font Awesome */
    font-weight: 900;
    position:absolute;
    top: 10px;
    left: -15px;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:50%;
    background: #FFFFFFAA;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(33px);
    background-blend-mode: overlay;
    width:30px;
    height:30px;
    border:solid 1px var(--c1);
    box-shadow:0 0 0 4px #FFFFFF88;
    color:#333;
    animation: blop 1s;
}

.debug.code:before{
    content: "\f121";
}


.debug.sql{
    border-color:#BBB;
    margin-left:12px;
}
.debug.sql:before{
    content: "\f1c0";
}

.debug.sql pre{
    outline:solid 1px grey;
    padding:16px 10px;
    border-radius:var(--bdrs);
    margin-top:20px;
    font-size: 11px;
}


@keyframes blop{
    0%{ scale:0.1;}
}



.alert{
    border: solid 1px var(--c1);
    border-radius:20px;
    color:var(--c1);
    text-align:center;
    padding:20px;
    margin:20px 0;
    
}


pre,code {
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
}


::selection {
    background-color: #ffcc00;
    background-color:var(--c1);
    color: #333;
}


/* Efecto video fondo */

#bgVideo {
    position: fixed;
    inset:0;
    min-width: 100%; 
    min-height: 100%;
    z-index:-1;  
}


header, main, footer{
    background:#FFFFFF88;
    padding:20px;
    border-radius:20px;
    margin:20px 0; 
}
  

body#error-404 h1{
    background:var(--c1);
    display:inline-block;
   }

.box{
    border: solid 1px var(--c1);
    padding:20px;
    border-radius:20px;
    max-width: 450px;
    margin:0 auto;
}



form input:focus{
    outline-color:var(--c1);
}

form label{
    display:block;
    margin-bottom: 9px;
}

form label:last-of-type{
	margin-bottom:10px;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form input[type="number"],
form input[type="url"],
form input[type="email"],
form input[type="file"],
form textarea{
	width:100%;
	  border: solid 1px grey;
    border-radius:6px;
    padding:4px 10px;
}

form{
	display:grid;
	grid-template-columns:repeat(4, 1fr);
	gap:2rem;
}


form input[type="submit"]{
	width:100%;
}


#user{
    display:block;
    background:var(--c1);
    position:absolute;
    top:0;
    right:0;
    padding:5px 20px;
    color:white;
    border-radius:0 0 0 20px;
    
}

html{border-top:5px var(--c1) solid;}


.portada{
    height:300px;
    object-fit:cover;
    object-position:bottom;
    object-view-box:inset(10% 20% 20% 20%);
}


/* Hacer un Fullwidth en elementos en una caja*/
.full-width,
.ffw,
.portada{
	/* margin-left: calc(-100vw / 2 + 960px / 2);
	margin-right: calc(-100vw / 2 + 960px / 2); */
	max-width:100vw;
	width: 100vw;
	position: relative;
	margin-left: -50vw;

	left: 50%;
}


/* Table */

table img{max-width:80px; border-radius:4px;}
